{% extends 'base.html.twig' %}

{% block title %}Connecte-toi{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <form method="post">
        <div class="limiter">
            <div class="container-login100" style="background-image: url(/img/olive-tree-962908_640.jpg);">
                <div class="wrap-login100">
                    <div class="login100-form">
                    <span class="login100-form-title p-b-34 p-t-27">
                        <h2>Connecte-toi !</h2>
					</span>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="input100"
                                   required
                                   placeholder="exemple@email.com" autofocus>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input type="password" name="password" id="inputPassword" class="input100"
                                   placeholder="Mot de passe" required>
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">
                                Connexion
                            </button>
                        </div>

                        <div class="text-center p-t-90 mt-3">
                            <a class="txt1" href="{{ path('app_forgot_password_request') }} ">
                                Mot de passe oublié?
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}
