{% extends 'base.html.twig' %}

{% block title %}Contactez-moi{% endblock %}

{% block body %}
    <div class="container-fluid contact">
        <div class="container">
            <div class="articles-title">Contactez-moi!</div>
            <div class="wrap-contact100">

                {{ form_start(form, {'attr':{'class': 'contact100-form validate-form'}}) }}
                <label class="label-input100" for="firstName">Prénom</label>
                <div class="wrap-input100">
                    {{ form_widget(form.firstName, {'attr':{'class': 'input100', 'placeholder': 'Prénom'}}) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <label class="label-input100" for="email">Nom</label>
                <div class="wrap-input100">
                    {{ form_widget(form.lastName,{'attr': {'class': 'input100', 'placeholder': 'Nom'}}) }}
                    {{ form_errors(form.lastName) }}
                </div>
                <label class="label-input100" for="email">Email</label>
                <div class="wrap-input100">
                    {{ form_widget(form.email,{'attr': {'class': 'input100', 'placeholder': 'example@email.com'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <label class="label-input100" for="phone">Téléphone</label>
                <div class="wrap-input100">
                    {{ form_widget(form.phone, {'attr':{'class': 'input100', 'placeholder': '0474711173'}}) }}
                    {{ form_errors(form.phone) }}
                </div>
                <label class="label-input100" for="message">Message</label>
                <div class="wrap-input100">
                    {{ form_widget(form.message,{'attr': {'class': 'input100', 'placeholder': 'Laissez moi un message...'}}) }}
                    {{ form_errors(form.message) }}
                </div>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
