<h3>Bonjour Josette!</h3>
<br>
Vous avez un nouvel Email de : {{ contact.firstName }} {{ contact.lastName }}.<br>
<br>
Voici son message :<br>
{{ contact.message }}<br>
<br>
Les coordonnées de {{ contact.firstName }} :<br>
{{ contact.email }}<br>
{{ contact.phone }}<br>
<br>
Bonne journée Josette<br>
<br>
PS : JTM ma petite maman chérie!<br>
