<div class="pt-5 pb-3 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <a href="{{ path('home') }}"><h2>Les Poteries de Josette</h2></a>
                <p class="pr-5 text-white-50">OINGT en
                    BEAUJOLAIS,<br>
                    classé un des plus beaux villages de France </p>
                <p><a href="https://www.facebook.com/lespoteriesdejosette"><i
                                class="fa fa-facebook-square mr-1"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Liens</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="{{ path('articles') }}">Poteries</a></li>
                    <li>- <a href="{{ path('work') }}">Argile et émaux</a></li>
                    <li>- <a href="{{ path('shop') }}">Atelier</a></li>
                    <li>- <a href="{{ path('events') }}">Evènements</a></li>
                    <li>- <a href="{{ path('recipes') }}">Recettes de Josette</a></li>
                    <li>- <a href="{{ path('blog') }}">Coup de coeur</a></li>
                    <li>- <a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p>Rue Tyre-Laine<br>
                    69620 OINGT - FRANCE
                </p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>Tel : 04 74 71 11 73</p>
                <p><i class="fa fa-envelope-o mr-3"></i>josette.bourgogne@wanadoo.fr</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2020. All Rights Reserved. <br>
                        <a href="{{ path('easyadmin') }}">Admin</a></small></p>
            </div>
        </div>
    </div>
</div>
