{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}
    <div class="container-fluid recipes">
        <div class="container">
            <div class="articles-title">Les recettes de Josette</div>
            <div class="container-recipes">
                <div class="wrap">
                    {{ form_start(searchForm, {'attr':{'class': 'search'}}) }}
                    {{ form_widget(searchForm.name, {'attr':{'class': 'searchTerm', 'placeholder': "Filter par catégorie"}}) }}
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                    {{ form_end(searchForm) }}
                </div>
                <main class="card-columns">
                    {% for recipe in recipes %}
                        <div class="container-recipe">
                            <div class="card card-block">
                                <div class="card-title">
                                    {# Pop-up #}
                                    <div class="react"
                                         data-name="{{ recipe.name }}"
                                         data-description="{{ recipe.description }}"
                                         data-ingredient="{{ recipe.ingredient }}"
                                         data-image-name="{{ recipe.imageName }}"
                                    ></div>
                                    <div class="print">
                                        <a href="{{ path('pdf', { 'id': recipe.id }) }}'"><i class="fas fa-print"></i></a>
                                    </div>
                                </div>
                                <img src="{{ ('/uploads/images/products/'~recipe.imageName) }}"
                                     alt="{{ recipe.imageName }}">
                                <h1 class="card-title mt-3 mb-3">{{ recipe.name }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                </main>

            </div>
        </div>
    </div>

{% endblock %}
