{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}
    <div class="container-fluid recipes">
        <div class="container">
            <div class="articles-title">Les recettes de Josette</div>
            <div class="container-recipes">
                <nav class="menu" tabindex="0">
                    <div class="smartphone-menu-trigger"></div>
                    <header class="avatar">
                        <h2>Liste des recettes</h2>
                    </header>
                    <ul>
                        {% for recipe in recipes %}
                            <li tabindex="0" class="icon-dashboard"><i
                                        class="fas fa-utensils"><span>  {{ recipe.name }}</span></i></li>
                        {% endfor %}
                    </ul>
                </nav>
                <main class="card-columns">
                    {% for recipe in recipes %}
                        <div class="container-recipe">
                            <div class="card card-block">
                                <div class="card-title">
                                    {# Pop-up #}
                                    <div class="react"
                                         data-name="{{ recipe.name }}"
                                         data-description="{{ recipe.description }}"
                                         data-ingredient="{{ recipe.ingredient }}"
                                         data-image-name="{{ recipe.imageName }}"
                                    ></div>
                                </div>
                                <img src="{{ ('/uploads/images/products/'~recipe.imageName) }}"
                                     alt="{{ recipe.imageName }}">
                                <h1 class="card-title mt-3 mb-3">{{ recipe.name }}</h1>
                            </div>
                        </div>
                    {% endfor %}
                </main>

            </div>
        </div>
    </div>

{% endblock %}
